{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            Welcome To My Place
        {% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href={% static "/assets/css/fontawesome-all.min.css" %}/>
    <link rel="stylesheet" href={% static "/assets/css/main.css" %}/>
    <noscript>
        <link rel="stylesheet" href={% static "/assets/css/noscript.css" %}/>
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        {% block head %}
            <a href="/index" class="logo"><strong>Personal Place</strong> <span>by ZCQAS</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        {% endblock %}
    </header>
    <!-- Menu -->
    <nav id="menu">
        {% block menu %}
            <ul class="links">
                <li><a href="/index">Home</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="/login" class="button primary fit">Login</a></li>
                <li><a href="/register" class="button primary fit">Register</a></li>
                <li><a href="#" class="button fit">Logout</a></li>
            </ul>
        {% endblock %}
    </nav>
    {% block content %}
    {% endblock %}
    <!-- Contact -->
    <section id="contact">
        {% block contact %}
            <div class="inner">
                <section>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name"/>
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email"/>
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="6"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary"/></li>
                            <li><input type="reset" value="Clear"/></li>
                        </ul>
                    </form>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-envelope"></span>
                            <h3>Email</h3>
                            <span>1290450579@qq.com</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-phone"></span>
                            <h3>Phone</h3>
                            <span>0759-3183226</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-home"></span>
                            <h3>Address</h3>
                            <span>岭 南 师 范 学 院<br/>
                                    中 国 - 广 东 - 湛 江 <br/>
                                    赤 坎 区 寸 金 路 2 9 号<br/>
                                    邮 编：524048
                            </span>
                        </div>
                    </section>
                </section>
            </div>
        {% endblock %}
    </section>
    <!-- Footer -->
    <footer id="footer">
        {% block footer %}
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/As957LoveYourSelf" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon brands alt fa-qq"><span class="label">QQ</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; ZhangChuQi</li>
                    <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        {% endblock %}
    </footer>
</div>
{% block script %}
    <!-- Scripts -->
    <script src={% static "/assets/js/jquery.min.js" %}></script>
    <script src={% static "/assets/js/jquery.scrolly.min.js" %}></script>
    <script src={% static "/assets/js/jquery.scrollex.min.js" %}></script>
    <script src={% static "/assets/js/browser.min.js" %}></script>
    <script src={% static "/assets/js/breakpoints.min.js" %}></script>
    <script src={% static "/assets/js/util.js" %}></script>
    <script src={% static "/assets/js/main.js" %}></script>
{% endblock %}
</body>
</html>