{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Hi, I'm Mr.Zhang, from China</h1>
            </header>
            <div class="content">
                <p>欢 迎 来 到 自 由 之 地<br/>
                    现 在 开 始 你 的 探 索 吧</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src={% static "images/pic01.jpg" %} alt=""/>
                </span>
                <header class="major">
                    <h3><a href="landing" class="link">Blogs</a></h3>
                    <p>博 客 之 家</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src={% static "images/pic02.jpg" %} alt=""/>
                </span>
                <header class="major">
                    <h3><a href="landing" class="link">Images</a></h3>
                    <p>美 图 共 赏</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src={% static "images/pic03.jpg" %} alt=""/>
                </span>
                <header class="major">
                    <h3><a href="landing" class="link">Super Resolution</a></h3>
                    <p>图 像 超 分 辨 率 重 建</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src={% static "images/pic04.jpg" %} alt=""/>
                </span>
                <header class="major">
                    <h3><a href="landing" class="link">Image Transformer</a></h3>
                    <p>图 片 风 格 转 化</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src={% static "images/pic05.jpg" %} alt=""/>
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">Image Recolor</a></h3>
                    <p>黑 白 照 片 上 色</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src={% static "images/pic06.jpg" %} alt=""/>
                </span>
                <header class="major">
                    <h3><a href="landing" class="link">Etiam</a></h3>
                    <p>Feugiat amet tempus</p>
                </header>
            </article>
        </section>
        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>登 录 或 注 册</h2>
                </header>
                <p>想 共 享 想 法 ？ 想 体 验 更 多 功 能 ？ 想 寻 找 兴 趣 相 投 的 朋 友 ？
                    那 就 加 入 我 们 社 区 ， 一起 探 索 自 由 之 地 吧 ！</p>
                <ul class="actions">
                    <li><a href="/landing" class="button next">Go Login OR Register</a></li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
